__pycache__/
*.py[cod]
*$py.class
*.so
.idea/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
.streamgrid.eff-info/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
docs/_build/
.ipynb_checkpoints
ipython_config.py
*.pclprof
.python-version
__pypackages__/
.env
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
runs/
weights/
*.weights
*.pt
*.onnx
calibration_*.npy
